{% extends 'base.html.twig' %}



{% block content %}

<section class="red1">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <div class="panda1">
                    <img class="pandaphoto1" src="/img/p1.png">
                </div>
            </div>


            <div class="col-sm-6">
                <div class="partie1">
                    <h2 class="car">Card</h2>
                    <p id="part1">
                        CARD COMMON NAMES: Red Panda, Lesser Panda, Red-bear cat <br>
                        <br>
                        SCIENTIFIC NAME: Ailurus fulgens <br>
                        <br>
                        TYPE: Mammals <br>
                        <br>
                        LENGTH : 50 to 64 cm (without its tail) <br>
                        <br>
                        WEIGHT : ♂ 3.7 to 6.2 kg  ♀ 3 to 6 kg <br>
                        <br>

                        DIET : Omnivorous <br>
                        <br>
                        STATUS : Endangered</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="red2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="partie2">
                    <h2 id="abt">About</h2>
                    <p id="part2">
                        ITS PHYSIQUE
                        The red panda has a soft reddish-brown fur associated with a long fluffy striped tail.
                        His lower parts are a little darker than its upper.
                        The fact that his size is similar as one of a domestic cat makes it even more cuter.
                        His face is similar to a raccoon’s one, but it has a feature that makes it similar:
                        his tear markings.
                        <br>
                        <br>
                        ITS HABITAT
                        Temperate forests
                        Eastern Himalayas (Nepal
                        Southwestern China (Qinling Mountains of the Shaanxi Province)
                        Tibet, Sikkim and Assam (India)
                        Buthan moutains (Burma)
                        Hengduan Mountains of Sichuan
                        Gongshan Mountains in Yunnan
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panda2">
                    <img class="pandaphoto1" src="/img/p2.png">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="red3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="partie3">
                    <div class="carte">
                        <img class="pandaphoto1" src="/img/carte.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="red4">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <div class="panda4">
                    <img class="pandaphoto1" src="img/p3.png" style="margin-top: 5%">
                </div>
            </div>


            <div class="col-sm-6">
                <div class="partie4">
                    <h2 class="car">ITS HABITAT</h2>
                    <p id="part4">
                        The red panda’s most known area of living is the Himalayas. But, the endangered animal also lives in the Southwestern China, around the Qinling Mountains of the Shaanxi Province. There are also traces of it in the Buthan Mountains (Burma). 
                       Red pandas appreciate mountain environments mixed with deciduous and conifer forests, where they can move freely from branch to branch with the help of their semi-retractable claws.
                       Sadly, the Red Panda habitat is today disappearing due to the loss of trees and bamboos which leads to deforestation. 

                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}