{% extends 'base.html.twig' %}

{% block title %}Terms - {{parent()}}{% endblock %}


{% block content %}
<section class="login">
    <div class="container">
        <div class="row">
            <div class="identification">
                <div class="col-lg-8 mx-auto text-center terms">
                    <p><mark>Copyright © Green Liten </mark>
                        <br>
                        The association Green Liten and the web agency ‘SaveNote’ reserve all
                        copyrights on material on its web pages.
                        <br>
                        <mark>Information disclosure policy </mark>
                        <br>
                        Green Liten pledge to reveal all the information concerning its programmes and
                        operations available. Concerning its users, it is committed to keep their data
                        confidential.
                        <br>
                        <mark>Linking to UNICEF</mark>
                        <br>
                        Green Liten welcomes links from sites that share the same goal as them.
                        Protecting the red pandas is very important to them, so please only share
                        links that concern the subject.
                        <br>
                        <mark>Privacy policy</mark>
                        <br>
                        The user’s privacy on the internet has a lot of importance for Green Liten.
                        As said previously, it is committed to keep their data confidential.
                        Terms of use
                        Use of this website and all pages in this domain constitutes acceptance of Terms of Use.

                        <i>Updated: 28 June 2018</i></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}